body, html {
    font-family: sans-serif;
}
table, td, th {
    border: 1px solid #aaa;
    border-collapse: collapse;
    text-align: center;
    font-size: small;
}
#pressure_entry {
    display: inline-block;
    width: 240px;
    height: 300px;
}
#pressure_table {
    vertical-align:top;
    display: inline-block;
    width: 126px;
}
#result_box {
    border: 1px solid #000000;
    width: 300px;
    height: 80px;
}