<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>VLE Calculator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="/static/css/main.css">
</head>
<body>
    <div id="logo-image">
        <a href="https://petersgroup.web.illinois.edu/" target="_blank" rel="noopener noreferrer">
            <img src="/static/images/logo.png" height="95" alt="Logo">
        </a>
    </div>
    <div id="content">
        <h1>VLE Calculator</h1>
        <table id="input_table">
            <tr>
                <th>Compound </th>
                <th>Pi (atm) </th>
                <th>wi0</th>
            </tr>
            {% for compound in compound_list %}
            <tr>
                <td>{{ compound }}</td>
                <td>
                    <form action="{{ url_for('record') }}" method="POST" id={{ compound }}>
                        {{ recorder[compound] }}
                    </form>
                </td>
                <td>{{ wtfrac.get(compound) }}</td>
            </tr>
            {% endfor %}
        </table>
        <br>
        <br>
        <form action="{{ url_for('calculate') }}" method="POST" id="calculate">
            {{ runcalc.csrf_token }}
            {{ runcalc.vhead.label }}
            {{ runcalc.vhead }} (L)
            <br> <br>
            {{ runcalc.mL0.label }}
            {{ runcalc.mL0 }} (kg)
            <br> <br>
            {{ runcalc.temp.label }}
            {{ runcalc.temp }} (K)
            <br>
            <br>
            {{ runcalc.run }}
            <br>
            <br>
        </form>
        <form action="{{ url_for('reset') }}" method="POST" id="reset">
            {{ recorder.reset }}
        </form>
    </div>
    <br>
    <div id="info-box">
        This is a program to calculate the initial weight fraction of a gas within a polyethylene melt given gas
        pressures, volume, mass, and temperature. A full writeup can be found
        <a href="https://docs.google.com/document/d/18dAUgi2gyH9rdjAGX9a-F31dFFOwOo3wTm6ZPpMF6yg/">here</a>.
    </div>
</body>
</html>